.about-section-desc {
    background-color: #a8dda8;
    padding-bottom: 90px;
    padding-top: 80px;
}

.about-section-desc h2 {
    margin-top: 0px;
    margin-bottom: 80px;
    text-align: center;
    color:white;
    font-weight: bold;
    -webkit-text-stroke: 2.3px #546E54; /* width and color */
}

.about-section-desc h4 {
    color: black;
    -webkit-text-stroke: 0.1px black; /* width and color */
    margin-bottom: 50px;
}

.about-section-desc span {
    font-weight: bold;
}

.contain-desc {
    padding-left: 200px;
    padding-right: 200px;
}

.my-wrapper {
    height: 100%;
}


.about-section-intro {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 300px;
    background-color: white;
}

.about-section-intro span {
    margin-bottom: 0px;
    margin-top: 0px;
}

.job-title {
    font-weight: bold;
    display: inline-block;
}

.navbar-color {
    background-color: #16697a;
}

.nav-sections {
    font-weight: bold;
}

.name-color {
    color: #16697a;
    display: inline-block;
}

.valign-wrapper {
    display: inline-block;
}

.projects-section {
    background-color: #effad3;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-bottom: 90px;
    padding-top: 80px;
}

.projects-section h2 {
    margin-top: 0px;
    margin-bottom: 50px;
    text-align: center;
    color:white;
    font-weight: bold;
    -webkit-text-stroke: 2.3px#474B3F; /* width and color */
}

.single-project h3 {
    font-weight: bold;
    margin-bottom: 40px;
}

.single-project h4 {
    margin-bottom: 30px;
}

.single-project a {
    margin-bottom: 30px;
}

.single-project img {
    border: 5px solid #555;
}

/* Footer Section */
#contact-me-title {
    font-weight: bold;
}

.contact-methods img {
    width: 30px;
    height: 30px;
}

.contact-methods a {
    margin-bottom: 5px;
}


#particles-js {
    height: 905px;
}